.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f6f3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: 50px;
 padding: 10px;

}
.navbar a:hover {
  background-color: #000;
}

.nav-link ul li{
  display: flex;
  list-style: none;
  width: 20px;
  padding: 0px 20px;
  display: inline;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 30px;
  
}

.logo{
  font-size: 32;
  padding: 30px;
  font-weight: bold;
}
.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
  font-family: "Sofia", sans-serif;
}

.intro {
  display:grid;
  align-content: center;
  padding: 20px;
  margin-top: 20px;
  border-right: #000  2px solid;
  border: #000 1px solid;
} 

.sider {
  padding-top: 70px;
  margin-right: 200px;
  border: #112d88 1px solid;
} 
.button{
  background-color: red;
  color: white;
  border-radius: 5px;
  display: inline;
  margin: 6px 4px;
  font-size: 16px;
  height: 30px;
  width: auto;

}
/* .img{
  vertical-align: middle;
  width: 250px;
  height: 250px;
  border-radius: 50%; */
/* } */
.img{
  cursor: pointer;
  display: flex;
  height: 400px;
  position: relative;
margin-left: 80px;
  color: white;    
 
}

.column {
  
  height: 900px;
  padding: 10px;
  margin: 5px;
  background-color: #cccccc;
  text-align: center;
}
.container {
   display: grid;
   grid-template-columns: 33.33% 33.33% 33.33% ;
}
.upload{
  border-radius: 5px;
  color: white; 
  padding: 60px;
}
.search{
  border-radius: 5px;
  color: white; 
  padding: 60px;
}

.submit {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: #45a049;
}
